# Alles ignorieren ...
*

# ... außer diesen Dateien:
!.gitignore
!LICENSE
!manifest.json
!background.js
!content_isolated.js
!content_main.js
!offscreen.html
!offscreen.js
!popup.html
!popup.js
!jszip.min.js
!icon128.png
!icon_startup.png
!google5c730e0506b25dd0.html
!pack_extension.bat
!generate_icon.html
